@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.logout {
    background-color: $primary-color-1;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    right: 8px;
    top: 60px;

    &__text {
        width: 100%;
        height: 100%;
        background-color: $primary-color-1;
        color: $primary-color-3;
        border: none;
        border-radius: 12px;
    }
}