// Breakpoints
$tablet: 768px;
$desktop: 1280px;

//Colors
$primary-color-1: #0b2636; 
$primary-color-2: #fb8846; 
$primary-color-3: #ffffff; 
$primary-color-4: #000000; 

$secondary-color-1: #000000; 
$secondary-color-2: #f5f7fb; 
$secondary-color-3: #e0e0e0; 
$secondary-color-4: #000000; 

// Spacing
$mobile-spacing-before-headlines: 1.5rem;
$mobile-spacing-after-headlines: 1rem; 
$mobile-spacing-between-components: 1rem;

$spacing-before-headlines: 3rem;
$spacing-after-headlines: 2.25rem;
$spacing-between-components: 2.25rem;