// Breakpoints
$tablet: 768px;
$desktop: 1280px;

//Colors
$primary-color-1: #0b2636; // insert-color-name-here
$primary-color-2: #000000; // insert-color-name-here
$primary-color-3: #000000; // insert-color-name-here
$primary-color-4: #000000; // insert-color-name-here

$secondary-color-1: #000000; // insert-color-name-here
$secondary-color-2: #000000; // insert-color-name-here
$secondary-color-3: #000000; // insert-color-name-here
$secondary-color-4: #000000; // insert-color-name-here

// Spacing
$mobile-spacing-before-headlines: 1.5rem;
$mobile-spacing-after-headlines: 1rem; 
$mobile-spacing-between-components: 1rem;

$spacing-before-headlines: 3rem;
$spacing-after-headlines: 2.25rem;
$spacing-between-components: 2.25rem;