@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__header {
        @include sub-header;
    }
    
    &__video {
        width: 100%;
        border-radius: 20px;
    }
}