@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.all-rides {
    background-color: $secondary-color-2;
    height: 100vh;
    padding: 1rem 1rem 0;

    &__title {
        @include page-header;
        text-align: center;
        color: $primary-color-1;
        margin-bottom: 1rem;
    }
}