@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.action-button {
    width: 100%;
    background-color: $primary-color-2;
    color: $primary-color-3;
    border: none;
    border-radius: 12px;
    height: 40px;
}