@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.login {
    color: $primary-color-1;

    &__title {
        @include padding-before-after-headlines;
        @include page-header;

        &-acsent {
            color: $primary-color-2;
        }
    }

    &__form {

        &-message {
            @include body-small;
            @include component-bottom-margin;
        }

        &-input {
            @include component-bottom-margin;
            height: 2.5rem;
            width: 100%;
            border-radius: 12px;
            border: none;
            background-color: #e8f0fe;
            padding: 0 10px;
        }
    }
}